<%include partials/header.ejs %>



<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
      <li data-target="#myCarousel" data-slide-to="4" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>See what's for sale.</h1>
            <p>Check out our wide array of items to cover your any and every need... ever. We've got that large of an inventory.</p>
            <p><a class="btn btn-lg btn-primary" href="/list_items" role="button">Check out our stuff!</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>See who's selling!</h1>
            <p>A who's-who of our sellers; we ensure only the best sell service comes to our customers</p>
            <p><a class="btn btn-lg btn-primary" href="list_sellers.ejs" role="button">Meet your vendors!</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>See what's popular</h1>
            <p>Want to know the hottest items being delivered to you on E-Commerce Pro 2019? We've got you covered.</p>
            <p><a class="btn btn-lg btn-primary" href="popular_items.ejs" role="button">Browse Popular</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Check out our prices!</h1>
            <p>Our sellers not only list their items, but their item prices! Come see the reasonable (and maybe extravagant) pricings of our currently available items! We are an E-Commerce business, after all!</p>
            <p><a class="btn btn-lg btn-primary" href="see_price.ejs" role="button">Show Me The money!</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <div class="container">
          <div class="carousel-caption ">
            <h1>Buy something!</h1>
            <p>What are you waiting for?! Don't just sit there, idly gazing at your screen; there has to be something in stock! We're certain we have just the right item for you!</p>
            <p><a class="btn btn-lg btn-primary" href="transaction.ejs" role="button">Let's go!!</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



  <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

<!-- <p><h1 style="text-align : center;"> Meet our Team! </h1></p>
    <div class="container marketing">



      Three columns of text below the carousel 
      <div class="row">

        <div class="col-lg-4">


          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h2>Ben </h2>
          <p>One awesome person</p>
          <p <a class="btn btn-secondary" href="#" role="button">View details »</ap>
          <br>
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h2>V </h2>
          <p>One awesome person</p>
          <p<a class="btn btn-secondary" href="#" role="button">View details »</a> p>
        </div /.col-lg-4
        <br>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h2>Ian </h2>
          <p>One awesome person</p>
          <p> <a class="btn btn-secondary" href="#" role="button">View details »</a </p>
        </div> /.col-lg-4 
       
         <h1> Our team </h1>

       </div> /.row  -->

       <!-- FOOTER -->
       <footer class="container">
        <p class="float-right"><a href="/">Back to top</a></p>
        <p>© 2019 Database Designers Pro, Inc. <!-- · <a href="#">Privacy</a> · <a href="#">Terms</a> --></p>
      </footer>
    </main>


  </body>
  </html>