<% include partials/header.ejs %>

<div class="table-wrapper">
  <style>
  h1 {text-align:center; font-style:italic;}
  h2 {text-align:center; } 
</style>

 <p class="text-center text-danger"><%= message %></p>
  <h1> <em>Welcome to Database Designers Pro! </em></h1>

  <h2> Please click the button corresponding to what type of action you would like to see! </h2>

</div>
<div class = "buttons">
<br>
 <button onclick= "window.location.href = '/login';">Log In</button>
<br> 
<br>
<button onclick= "window.location.href = '/signup';">Sign Up</button>

</div>

<br><br><br>
       <footer class="container">
         <style>
           footer{text-align: center;}
        </style>
        <p class="float-right"><a href="/">Back to top</a></p>
        <p><i>© 2019 Database Designers Pro, Inc. <!-- · <a href="#">Privacy</a> · <a href="#">Terms</a> --></i></p>
      </footer>



  </body>
</html>