<% include partials/header.ejs %>
<% if(Total > 0) {%>
  <p class="text-center"> Total: $<%= Total %> </p>
<form>
  <label value="Purchase">
</form>

<% }else {%>
  <p class="text-center">No Items found. </p>
  <%}%>
</body>
</html>
