<% include partials/header.ejs %>
<div class="table-wrapper">
    <% if (Item.length > 0) {%>
    <table class="table table-hovered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Price</th>
                
        </thead>
        <tbody>
            <% Item.forEach((item, index) => { %>
            <tr>
                <th scope="row"><%= item.ItemId %></th>
                <th scope="row"><%= item.price %></th>
               
               
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p class="text-center">No Items found. </p>
    <% } %>
</div>
</div>
<br><br><br>
       <footer class="container">
        <p class="float-right"><a href="/list_Items">Back to top</a></p>
        <p>© 2019 Database Designers Pro, Inc. <!-- · <a href="#">Privacy</a> · <a href="#">Terms</a> --></p>
      </footer>



  </body>
  </html>