<% include partials/header.ejs %>
<div class="table-wrapper">
  <h1> Welcome to Database Designers Pro!</h1>
  <h2> Please click the button corresponding to what type of action you would like to see! </h2>
</div>

<h2> Sign up for an account!</h2>


<form class="signup" action="" method="POST" enctype="multipart/form-data">
  <h3>Signup</h3>
  <label for="regUser">Username: </label>
  <input type="text" name="regUser" value="" required>
  <label for="regPass">Password: </label>
  <input type="password" name="regPass" value="" required>
  <input type="submit" name="register">
</form>

<br><br><br>
       <footer class="container">
        <p class="float-right"><a href="/">Back to top</a></p>
        <p>© 2019 Database Designers Pro, Inc. <!-- · <a href="#">Privacy</a> · <a href="#">Terms</a> --></p>
      </footer>



  </body>
</html>
